extends ../layout.pug

block title
    title Admin blog

block head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")

block navbar-right
    if !error && posts.length > 0
        .navbar-item
            a(class="button is-primary" href="/admin/create-post") New post

block content
    section(class="hero is-dark")
        .hero-body
            div(class="container has-text-centered")
                h1.title Admin Panel
    .container
        .content
            section.section
                if error
                    div(class="notification is-danger")= error.message

                else
                    if posts.length === 0
                        .has-text-centered
                            h2.has-text-centered No post. Let's create one!
                            a(class="button is-primary" href="/admin/create-post") New post
                    else
                        .posts
                            each item in posts
                                div(class="level post")
                                    .level-left
                                        if item.posterUri
                                            div(class="level-item img-preview")
                                                div(class="o-ratio o-ratio--16:9")
                                                    div(class="o-ratio__content")
                                                        img(src=item.posterUri, class="image")
                                        .level-item
                                            p.is-size-4= item.title
                                    .level-right
                                        .level-item
                                            a(href="/blog/" + item.id) view
                                        .level-item
                                            a(href="/admin/edit-post/" + item.id) edit
                                        div(class=protectedBlogPosts && protectedBlogPosts.indexOf(item.id) >= 0 ? "is-hidden" : "level-item")
                                            a(
                                                href="/admin/edit-post/" + item.id,
                                                class="delete-post",
                                                data-post-id=item.id) delete
                                                    i(class="fa fa-spinner fa-pulse is-hidden")


