extends ../../../views/layout.pug

block title
    title= action === 'create' ? 'New Post' : 'Edit Post'

block head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")

block content
    section(class="hero is-dark")
        .hero-body
            div(class="container has-text-centered")
                p.title= action === 'create' ? 'New Post' : 'Edit Post'
    .container
        .content
            section.section
                if error
                    .error
                        p= error.message

                form(method="post", enctype="multipart/form-data")
                    .columns
                        .column(class="is-one-quarter is-one-third-desktop")
                            p.is-size-5 Feature Image
                            .field
                                div(class="file has-name is-info")
                                    label.file-label
                                        input(class="file-input", type="file", name="image")
                                        span.file-cta
                                            span.file-icon
                                                i(class="fas fa-upload")
                                            span.file-label Choose a file...
                                        span(class="file-name is-invisible")

                            input(type="hidden", name="posterUri" value=blogPost.posterUri)
                        .column

                            section.content
                                .field
                                    label.label Post title
                                    .control
                                        input(class="input", type="text", placeholder="Title..." name="title", value=blogPost.title)
                                .field
                                    .control
                                        textarea(placeholder="Post text...", rows="8", name="content")
                                            = blogPost.content

                                //-     .feature-image
                                //-         h4 Feature image
                                //-         if blogPost.posterUri
                                //-             .img-preview
                                //-                 img(src=blogPost.posterUri)
                                //-                 div: a(id="delete-image", href="delete-image") Delete
                                //-         div(class=blogPost.posterUri? "pure-group hidden" : "pure-group")
                                //-             label(for="image") Feature Image
                                //-             input(type="file", name="image", id="image")
                                //-     

                            section.content
                                div(class="field is-grouped is-grouped-right")
                                    p.control
                                        button(type="submit", class="button is-primary") #{action === 'create' ? 'Create' : 'Update'}

//- block scripts
//-     script.
//-         $( document ).ready(function() {
//-             $('#delete-image').on('click', function(e) {
//-                 e.preventDefault();
//-                 app.blogPostService.deleteImage(#{blogPost.id});
//-             });

//-             // Init Simple Markdown Editor
//-             var simplemde = new SimpleMDE();
//-         });