extends ../layout.pug

block title
    title= blogPost ? blogPost.title : ""

block content
    if error
        div(class="notification is-danger")= error.message

    if blogPost
        section(class="hero is-dark is-large")
            if blogPost.posterUri
                style.
                    .header-image:before{
                        background-image:url(#{blogPost.posterUri})
                    }
            div(class="hero-body header-image")
                div(class="container has-text-centered")
                    h1.title= blogPost.title

        .container
            .content
                section.section!= blogPost.contentToHtml

        section(class="hero is-light")
            div(class="hero-body is-paddingless")
                .container
                    section(id="comments" class="section")
                        h3.is-size-4 Conversation
                        #comments-wrapper

                        #comment-form
                            div(id="load-more-comments" class="has-text-right")
                                button(class="button is-link is-small is-hidden") See more comments

                            div(id="comment-form-errors" class="notification is-danger is-hidden")

                            article.media
                                .media-content
                                    .content
                                        form(method="post", id="form-comment" data-post-id=blogPost.id)
                                            .field
                                                .control
                                                    input(class="input", type="text", placeholder="Your name" name="author")
                                            .field
                                                .control
                                                    input(class="input", type="text", placeholder="Your website (optional)" name="website")

                                            .field
                                                .control
                                                    textarea(class="textarea" placeholder="Add a comment...", name="comment")

                                            .field
                                                .control
                                                    button(type="submit", class="button") Post comment

block scripts
  script.
      window.__blogPostData = {
          id: #{blogPost ? blogPost.id : 0},
      };
